*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 60.5%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #444;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  border-style: none;
}

.card {
  background: #fff;
  padding: 1rem;
}

p {
  font-size: 1.6rem;
}

button,
input {
  overflow: visible;
}

textarea {
  overflow: auto;
}

/* BTN */
.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#grey {
  color: #a0a1ac;
}

#grey:hover {
  color: #242942;
}

.btn-light {
  background: #f4f4f4;
  color: #777;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

/* center */
.all-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* Text */
.text-center {
  text-align: center;
  margin-bottom: 1.5rem;
}

.text-primary {
  color: #1ab6cf;
  /*color:black;*/
}

.text-light {
  color: white;
}

.text-bold {
  font-weight: 700;
}

.l-heading {
  font-size: 6rem;
  margin-bottom: 1.5rem;
}

.m-heading {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.s-heading {
  font-size: 2.7rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.1rem;
}

.lead {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.border-doted {
  border-bottom: #d6d3d3 dotted;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 2px;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
  margin-left: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .card {
    max-width: 70%;
  }
}

/* Grid */
.grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

/* Padding */
.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2.5rem 0;
}

.py-3 {
  padding: 3.5rem 0;
}

.py-4 {
  padding: 4.5rem 0;
}

.py-5 {
  padding: 6rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 5rem;
}

.p-5 {
  padding: 6rem;
}

/* Margin */
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 5.5rem;
}

.m-5 {
  margin: 6.5rem;
}

/* Margin bottom */
.mb-1 {
  margin: 2rem 0;
}

.mb-2 {
  margin: 3rem 0;
}

.mb-3 {
  margin: 4rem 0;
}

.mb-4 {
  margin: 5.5rem 0;
}

.mb-5 {
  margin: 6.5rem 0;
}

/* Margin-top */
.mt-1 {
  margin: 2rem 0;
}

.mt-2 {
  margin: 3rem 0;
}

.mt-3 {
  margin: 4rem 0;
}

.mt-4 {
  margin: 5.5rem 0;
}

.mt-5 {
  margin: 6.5rem 0;
}

/* Margin-left */
.ml-1 {
  margin: 0 0 0 1rem;
}

.ml-2 {
  margin: 0 0 0 2rem;
}

.ml-3 {
  margin: 0 0 0 3rem;
}

.ml-4 {
  margin: 0 0 0 4rem;
}

.ml-5 {
  margin: 0 0 0 6rem;
}

/* Margin right */
.mr-1 {
  margin: 0 1rem 0 0;
}

.mr-2 {
  margin: 0 2rem 0 0;
}

.mr-3 {
  margin: 0 3rem 0 0;
}

.mr-4 {
  margin: 0 4rem 0 0;
}

.mr-5 {
  margin: 0 6rem 0 0;
}

/* Background */
.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  color: #fff;
  background: #333;
}

.bg-primary {
  color: #fff;
  background: #4ea2f1;
}

/* IMG */
.img-responsive {
  display: inline-block;
  max-width: 100%;
  border-style: none;
  cursor: pointer;
}

.round-img {
  max-width: 25rem;
  border-radius: 50%;
}

/* badge */
.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.badge-secondary {
  font-size: 1rem;
  padding: 0.3rem;
  text-align: center;
  margin: 0.3rem;
  background: #333;
  color: white;
}

.badge-light {
  font-size: 1rem;
  padding: 0.3rem;
  text-align: center;
  margin: 0.3rem;
  background: #f4f4f4;
  color: #333;
}

.bg-overlay {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(51, 51, 51, 0.801)), to(rgba(68, 68, 68, 0.795))), url(../img/showcase.jpg) no-repeat center center/cover;
  background: linear-gradient(to right bottom, rgba(51, 51, 51, 0.801), rgba(68, 68, 68, 0.795)), url(../img/showcase.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

/* container */
.container {
  max-width: 220rem;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}

.form-group {
  margin: 1.2rem 0;
}

.form-control {
  outline: none;
  border: 1px solid lightblue;
  padding: 1rem;
  display: block;
  margin-top: 1.8rem;
  width: 100%;
}

/* css reset */
/* inputs */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

/* table */
table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* end of css reset */
/* Alert */
.alert {
  max-width: 100%;
  height: 5rem;
  background: #ff5555;
  color: white;
  margin-left: 7rem;
  opacity: 0.9;
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .grid-2,
  .grid-3,
  .grid-4 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar ul {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 16vh;
  width: 130%;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
}

@media only screen and (max-width: 1442px) {
  .nav {
    width: 90%;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 70%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    background: white;
    width: 90%;
    padding: 2rem;
    font-size: 2.2rem;
    text-align: center;
    -webkit-box-shadow: 1px 1px 10px #a0a1ac;
            box-shadow: 1px 1px 10px #a0a1ac;
    display: none;
    height: auto;
  }
}

@media only screen and (max-width: 24.25em) {
  .nav-list {
    margin-top: 100%;
  }
}

.nav-list--item {
  margin-left: 6rem;
  font-weight: bold;
  color: #242942;
}

@media only screen and (max-width: 56.25em) {
  .nav-list--item {
    margin-bottom: 2rem;
    margin-left: 0;
  }
  .nav-list--item:nth-of-type(4) {
    display: none;
  }
  .nav-list--item:nth-of-type(3) {
    border-bottom: 2px solid #a0a1ac;
    border-width: 80%;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
  }
}

.nav-link {
  color: #242942;
}

@media only screen and (max-width: 56.25em) {
  .nav-link {
    font-weight: bold;
  }
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-logo {
  max-width: 3.2rem;
  margin-left: 35rem;
}

@media only screen and (max-width: 1442px) {
  .nav-logo {
    margin-left: 12rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .nav-logo {
    margin-left: 1rem;
  }
}

.showcase {
  height: calc(100vh - 160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .showcase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .showcase {
    padding: none;
  }
}

@media only screen and (max-width: 56.25em) {
  .showcase-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.showcase-portrait {
  width: 150%;
  margin-right: -40rem;
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (max-width: 56.25em) {
  .showcase-portrait {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-bottom: 8rem;
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .showcase-portrait {
    margin-right: 10rem;
  }
}

.showcase-preview {
  margin-left: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #a0a1ac;
}

@media only screen and (max-width: 37.5em) {
  .showcase-preview {
    margin-left: 1rem;
  }
}

.showcase-btn {
  padding: 1rem 30px;
  background: #ff5d5e;
  border-radius: 5px;
  font-size: 2rem;
}

@media only screen and (max-width: 24.25em) {
  .showcase-btn {
    padding: 0.6rem 15px;
    font-size: 1.7rem;
  }
}

.showcase-btn a {
  color: white;
  text-transform: uppercase;
}

.showcase-btn:hover {
  background: #ff8584;
}

.showcase-title {
  font-size: 7.7rem;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 700;
  color: #242942;
}

@media only screen and (max-width: 56.25em) {
  .showcase-title {
    font-size: 5rem;
  }
}

.showcase-img {
  max-width: 140%;
}

@media only screen and (max-width: 37.5em) {
  .showcase-img {
    min-width: 180%;
  }
}

@media only screen and (max-width: 24.25em) {
  .showcase-img {
    min-width: 200%;
    margin: auto;
  }
}

.showcase-text {
  font-size: 2.5rem;
  color: #333;
  width: 40%;
  line-height: 1.3;
}

@media only screen and (max-width: 56.25em) {
  .showcase-text {
    width: 100%;
  }
}

.showcase-span {
  margin-left: 1rem;
  letter-spacing: 0.45rem;
  opacity: 0.7;
  font-family: 'Barlow Condensed', sans-serif;
  color: #a0a1ac;
  font-size: 2.5rem !important;
  font-weight: 400;
}

.showcase-new {
  border-radius: 15px;
  text-transform: uppercase;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  background: #242942;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 2.3rem;
}

.showcase-info {
  padding-left: 25rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 80%;
}

@media only screen and (max-width: 1442px) {
  .showcase-info {
    padding-left: 2rem;
  }
}

.showcase-info span {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (max-width: 37.5em) {
  .showcase-info {
    width: 100%;
  }
}

@media only screen and (max-width: 24.25em) {
  .showcase-info {
    margin-top: 9rem;
    padding: 1rem;
    width: 120%;
  }
}

.shape {
  position: fixed;
  top: 0;
  right: 0;
  width: 52%;
  height: 50%;
  background: #eef3f6;
  z-index: -1;
  border-radius: 0 0 0 50px;
}

@media only screen and (max-width: 56.25em) {
  .shape {
    width: 50%;
    height: 70%;
  }
}

@media only screen and (max-width: 24.25em) {
  .shape {
    height: 40%;
    height: 64%;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

#hamburger {
  display: none;
}

@media only screen and (max-width: 56.25em) {
  #hamburger {
    display: block;
  }
}
