*,
*::after,
*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

$bp-largest:75em; //1200px
$bp-large:68.75em; //1100px
$bp-medium:48.25em; //800px
$bp-small:37.5em; // 600px
$bp-smallest:31.25em; // 500px


html{
  font-size:60.5%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  
  @media only screen and(max-width:$bp-large){
    
    font-size:50%;
  }
}
body{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  
 
}

a{
   text-decoration:none;
   color:#444;
   cursor: pointer;
}
ul{
  list-style: none;
}

img {
  display:block;
  width: 100%;
  border-style: none;
}

.card {
  background: #fff;
  padding: 1rem;
}
p{
  font-size:1.6rem;
}

button,
input { 
  overflow: visible;
}

textarea {
  overflow: auto;
}

